{% import '_includes/forms' as forms %}

{% macro configWarning(setting) -%}
    {% set docsUrl = 'https://www.doublesecretagency.com/plugins/star-ratings/docs/override-settings' %}
    <p class="warning">
        {{ "This is being overridden by the {setting} config setting."|t('app', {
            setting: '<a href="'~docsUrl~'" target="_blank">'~setting~'</a>'
        })|raw }}
    </p>
{%- endmacro %}

{% from _self import configWarning %}

{% css %}
    #content code {
        color: #476582;
        padding: .25rem .5rem;
        margin: 0;
        font-size: .85em;
        background-color: rgba(27,31,35,.05);
        background: rgba(0,72.85714285714286,127.5,.054901960784314);
        border-radius: 3px;
    }
{% endcss %}

{% set starMaxOptions = {1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10} %}

<h2>Stars Configuration</h2>

<div class="field maxStarsAvailable">
    <div class="heading">
        <label><strong>Maximum Possible Rating</strong></label>
    </div>
    <div class="input ltr">
        {{ forms.select({
            id: 'maxStarsAvailable',
            name: 'maxStarsAvailable',
            options: starMaxOptions,
            value: settings.maxStarsAvailable,
            disabled: 'maxStarsAvailable' in overrideKeys
        }) }}
        <span class="stars-total-label">stars total</span>
        {{ 'maxStarsAvailable' in overrideKeys ? configWarning('maxStarsAvailable') }}
        <p class="change-value warning">Changing this value will have a significant impact on existing calculations. If any ratings have already been recorded, it's highly recommended to uninstall and re-install the plugin before continuing.</p>
    </div>
</div>

<div class="field">
    {% set options = {
        'full'    : 'Full Stars',
        'half'    : 'Half Stars',
        'quarter' : 'Quarter Stars',
    } %}
    {{ forms.selectField({
        label: "Star Increment Size"|t,
        instructions: "Ratings result averages are rarely a round number, so the fractional remainder is rounded for the final star in each set."|t,
        id: 'starIncrements',
        name: 'starIncrements',
        value: settings.starIncrements,
        options: options,
        disabled: 'starIncrements' in overrideKeys
    }) }}
    {{ 'starIncrements' in overrideKeys ? configWarning('starIncrements') }}
    <p>For more information on partial stars, see the docs about <a href="https://www.doublesecretagency.com/plugins/star-ratings/docs/customize-your-star-icons" target="_blank">customizing your star icons...</a></p>
</div>

<hr/>

<h2>Rating Settings</h2>

<div class="field">
    {{ forms.checkbox({
        label: raw("<strong>Require login to rate</strong>"|t),
        id: 'requireLogin',
        name: 'requireLogin',
        checked: settings.requireLogin,
        disabled: 'requireLogin' in overrideKeys
    }) }}
    {{ 'requireLogin' in overrideKeys ? configWarning('requireLogin') }}
    <p>To prevent any chance of voting fraud, it's <strong>highly recommended</strong> that your users be logged in to rate. However, sometimes it's necessary to allow anonymous rating.</p>
</div>

<div class="field">
    {{ forms.checkbox({
        label: raw("<strong>Allow rating changes</strong>"|t),
        id: 'allowRatingChange',
        name: 'allowRatingChange',
        checked: settings.allowRatingChange,
        disabled: 'allowRatingChange' in overrideKeys
    }) }}
    {{ 'allowRatingChange' in overrideKeys ? configWarning('allowRatingChange') }}
    <p>Occasionally users will change their mind after rating an element. This option allows them to change their rating.</p>
</div>

<div class="field">
    {{ forms.checkbox({
        label: raw("<strong>Allow Font Awesome</strong>"|t),
        id: 'allowFontAwesome',
        name: 'allowFontAwesome',
        checked: settings.allowFontAwesome,
        disabled: 'allowFontAwesome' in overrideKeys
    }) }}
    {{ 'allowFontAwesome' in overrideKeys ? configWarning('allowFontAwesome') }}
    <p>The default star icons are generated using <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>. It's loaded automatically by the plugin, but can be disabled if necessary.</p>
</div>

{% if isGqlAllowed %}
    <hr/>
    <h2>GraphQL (BETA)</h2>
    <div class="field">
        {{ forms.checkbox({
            label: raw("<strong>Enable GraphQL support</strong>"|t),
            id: 'enableGql',
            name: 'enableGql',
            checked: settings.enableGql,
            disabled: 'enableGql' in overrideKeys
        }) }}
        {{ 'enableGql' in overrideKeys ? configWarning('enableGql') }}
        <p>Optionally enable the plugin's <a href="https://plugins.doublesecretagency.com/star-ratings/graphql-support/" target="_blank">GraphQL support</a>.</p>
        <div class="readable">
            <blockquote class="note warning" style="font-size:15px">
                <p>GraphQL support is currently <strong>experimental</strong>. Please proceed with caution.</p>
            </blockquote>
        </div>
    </div>
{% endif %}

<hr/>

<h2>Complete Rating Log</h2>

<div class="field">
    {{ forms.checkbox({
        label: raw("<strong>Keep a detailed record of all ratings</strong>"|t),
        id: 'keepRatingLog',
        name: 'keepRatingLog',
        checked: settings.keepRatingLog,
        disabled: 'keepRatingLog' in overrideKeys
    }) }}
    {{ 'keepRatingLog' in overrideKeys ? configWarning('keepRatingLog') }}
    <p>Generally unnecessary... The detailed log is not used to calculate the tally for each element.</p>
    <ul>
        <li><strong>PRO:</strong> You have a detailed log of every rating cast, which can then be accessed by another plugin or module via the <code>doublesecretagency\starratings\records\RatingLog</code> class.</li>
        <li><strong>CON:</strong> Any time Craft needs to create a backup database, it could take a very long time (depending on how big the ratings table gets).</li>
    </ul>
</div>
